.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 20vh;
    width: 100vw;
    color:white;
    background-color:#151D33;
    justify-content: center;
    position: absolute;
    
} 