.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    height: 10vh;
    width: 100vw;
    color:white;
    background-color:#151D33;
    justify-content: center;
    position: absolute;
    bottom: 0;
    font-size: 20px;

} 
