.header {
    display: flex;
    padding: 1.5rem;
    height: 40vh;
    background-color:#151D33;
    color: white;
    align-items: center;

}
.header-avatar{
    margin: 1rem;
    opacity: 90%;
    box-shadow: 0 0 40px rgba(0, 0, 0, .8);
    border-radius:50%;
    width: 10vw;
    height: 65%;
    
}
.header-title{
    padding: 1rem;
    h1{
        font-size: 2.5rem;
    }
}
