.header {
    display: flex;
    padding: 1rem;
    height: 50vh;
    width: 100vw;
    background-color:#151D33;
    color: white;

    .header-avatar{
        border: 1px solid rgb(160, 159, 159);
        border-radius:90px;
        height: 70%;
        margin: 1rem;
        
    
    }
    h1{
        font-size: 4rem;
      }

}
