.projects-content {
    text-align: center;
}

.projects-grid{
    display: flex;
    
    h3{
       margin: 1rem;
    }
    
}
.project1 {
    width: 400px;
    height: 300px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.4);
}
.project2 {
    width: 400px;
    height: 300px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.4);

}
.project3 {
    width: 400px;
    height: 300px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.4);
}
