
@import "./settings";
@import "./components/about";
@import "./components/footer";
@import "./components/header";
@import "./components/navigation";
@import "./components/projects";
@import "./components/notfound";